<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{ site.title | default: site.github.repository_name }} by {{ site.github.owner_name }}</title>

    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <meta name="viewport" content="width=device-width">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <img src="img/profile.jpg" style="width:400px;height:600px;">
        <h1>{{ site.title | default: site.github.repository_name }}</h1>
        <p>{{ site.description | default: site.github.project_tagline }}</p>

        {% if site.github.is_project_page %}
          <p class="view"><a href="{{ site.github.repository_url }}">View the Project on GitHub <small>{{ github_name }}</small></a></p>
        {% endif %}

         {% if site.github_username %}
              <a href="https://github.com/{{ site.github_username }}">
                <img src="img/Github.png" alt="GitHub" style="width:42px;height:42px;border:5;">
              </a>
          {% endif %}

          {% if site.linkedin_username %}
              <a href="https://linkedin.com/in/{{ site.linkedin_username }}">
                <img src="img/Linkedin.png" alt="LinkedIn" style="width:42px;height:42px;border:5;">
              </a>
          {% endif %}

          {% if site.facebook_username %}  
              <a href="https://www.facebook.com/{{ site.facebook_username }}">
                <img src="img/Facebook.png" alt="Facebook" style="width:42px;height:42px;border:5;">
              </a>
          {% endif %}

          {% if site.twitter_username %}
              <a href="https://twitter.com/{{ site.twitter_username }}">
                <img src="img/Twitter.png" alt="Twitter" style="width:42px;height:42px;border:5;">
              </a>
          {% endif %}

      </header>
      <section>

      {{ content }}

      </section>
      <footer>
        {% if site.github.is_project_page %}
        <p>This project is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %}   
        
      </footer>
    </div>
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>


  {% if site.google_analytics %}
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
    </script>
  {% endif %}
  </body>
</html>
